# ถอนโฟลเดอร์รวมพวก package ต่างๆ ของ admin-web และ api (Node)
**/node_modules/

# ถอนไฟล์ vendor ของ PHP / Laravel ใน api
**/vendor/

# ถอนไฟล์แวดล้อมที่เป็นความลับ (เช่น รหัสผ่านฐานข้อมูล)
**/.env
**.env.local

# ถอนไฟล์จากการ Build ของฝั่ง cowsmart (Flutter/Dart)
**/build/
**/.dart_tool/
**/.pub-cache/
**/.generated/

# ไฟล์ระบบของคอมพิวเตอร์ที่ไม่จำเป็น
.DS_Store
Thumbs.db